/* public start  */
* {
  margin: 0%;
  padding: 0%;
  font-family: "Cairo", sans-serif;
}
/* public end  */
/* header start  */
body {
  overflow-x: hidden;
}
header {
  background-image: url(../imgs/bg.jpg);
  background-position: cover;
  background-size: cover;
}
header .overlay {
  height: fit-content;
  background: rgb(208, 61, 63, 0.9);
  color: #fff;
  padding-top: 90px;
}
header .overlay .image img {
  width: 65%;
}
header .overlay img {
  margin-bottom: 60px;
}
header .overlay h1 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 50px;
}
header .overlay p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 90px;
}
header .overlay .stores {
  margin-bottom: 50px;
}
header .overlay .stores a {
  padding: 20px;
  margin-left: 25px;
  color: #232323;
  background-color: #fafafa;
  border-radius: 10px;
}
header .overlay .stores {
  padding: 0;
}
header .overlay .stores i {
  font-size: 50px;
  line-height: 50px;
  margin-left: 20px;
}
header .overlay .stores h3 {
  font-size: 15px;
  line-height: 8px;
}
header .overlay .stores h3 span {
  display: block;
  font-size: 18px;
  line-height: 8px;
  padding-top: 10px;
}
/* header end  */
/* main start  */
/* ..............features start  */
section.features {
  padding-top: 80px;
  padding-bottom: 90px;
}
section.features .feature .icon {
  width: 70px;
  height: 70px;
  font-size: 24px;
  line-height: 20px;
  background-color: #ef473a;
  color: #fff;
  border-radius: 5px;
  margin: 0 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.features .feature h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #080808;
}
section.features .feature p {
  font-size: 15px;
  line-height: 20px;
  color: #bababa;
}
/* ..............features end  */
/* ..............extras start  */
section.extras {
  padding-top: 50px;
  background-color: #f9f8f8;
  overflow: hidden;
}
section.extras .extra h1 {
  font-size: 24px;
  line-height: 38px;
  color: #141414;
}
section.extras .extra p {
  color: #757474;
}

section.extras .mobile-3 {
  max-width: 100%;
}
/* ..............extras end  */
/* ..............watch start  */
section.watch {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #fff;
}
section.watch h1 {
  font-size: 36px;
  line-height: 38px;
  margin-bottom: 60px;
  color: #141414;
}
section.watch button.carousel-control-next,
section.watch button.carousel-control-prev {
  height: 70px;
  width: 70px;
  font-size: 30px;
  line-height: 38px;
  border-radius: 50%;
  color: #cb2d3e;
  border: 2px solid #ef493c;
  margin: auto 0;
  padding: 0 10px;
}
section.watch button.carousel-control-next:hover,
section.watch button.carousel-control-prev:hover {
  color: #ef493c;
}
section.watch div.row div.col-10 {
  position: relative;
}
section.watch .carousel-indicators {
  position: absolute;
  bottom: -65px;
}
section.watch .carousel-indicators button {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid #ef473a;
  border-radius: 50%;
  transition: all 0.5s ease;
}
section.watch .carousel-indicators button:hover {
  background-color: #ef473a;
}
section.watch .carousel-indicators button.active {
  background-color: #ef473a;
}
/* ..............watch end  */
/* ..............QandA start  */
section.QandA {
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url(../imgs/bg-2.jpg);
  background-position: cover;
  background-size: cover;
  height: 450px;
}
section.QandA > h2 {
  margin-bottom: 70px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}
.accordion-item {
  background-color: rgb(255, 255, 255, 0.1);
}
.accordion-item button {
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  background-color: rgb(255, 255, 255, 0.1);
  color: #fff;
}
.accordion-body {
  font-size: 15px;
  line-height: 20px;
  color: #c9c9c9;
  background-color: rgb(255, 255, 255, 0.1);
  text-align: start;
}
.accordion-button::after {
  margin-right: auto;
  margin-left: 0%;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: rgb(255, 255, 255, 0.1);
}
.accordion-button:focus {
  border: none;
  box-shadow: none;
}
/* ..............QandA end  */
/* main end  */
/* footer start */
footer {
  padding-top: 60px;
  background-color: #232323;
}
footer h3 {
  color: #f4f8fb;
}
footer .hrorzantal {
  margin: 20px 0 35px;
  background-color: #272727;
  height: 2px;
  position: relative;
}
footer .hrorzantal::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 2px;
  background-color: #a03b33;
}
footer p {
  color: #757474;
}
footer .social-media {
  margin-top: 100px;
}
footer .social-media li {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  background-color: #343637;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease;
}
footer .social-media li:hover {
  background-color: #ef473a;
  cursor: pointer;
}
footer .social-media li i {
  position: absolute;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
  top: 50%;
  transform: translate(50%, -50%);
  -bottom: 90px;
}
footer form input.form-control {
  background-color: #2c2b2b;
  border: none;
}
footer form button.btn {
  background-color: #ef473a;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
footer .copyRights {
  margin-top: 90px;
}
footer .copyRights p {
  font-size: 15px;
  line-height: 40px;
  color: #565656;
  padding: 0%;
  padding-top: 15px;
  border-top: 2px solid #282828;
}
/* footer enf */
@media (max-width: 1200px) {
  section.features .feature {
    flex-direction: column !important;
    text-align: center !important;
  }
  section.features .feature .icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  section.extras img {
    margin-bottom: 30px;
  }
  header .overlay .stores h3 {
    font-size: 10px;
  }
  header .overlay .stores h3 span {
    font-size: 14px;
  }
  section.extras .extra {
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
  }
  section.watch .carousel-inner {
    padding: 0 20px;
  }
  section.QandA {
    height: 750px;
  }
  section.QandA .accordion {
    height: 230px;
  }
}
@media (max-width: 768px) {
  header .overlay {
    text-align: center;
  }
  header .overlay .image img {
    width: 40%;
  }
  header .overlay img {
    margin: 0 auto 30px auto;
  }
  header .overlay .stores {
    margin: 20px auto;
  }
  header .overlay .stores i {
    margin: 0;
  }
  header .overlay .stores i.fa-apple {
    font-size: 65px;
  }
  header .overlay .stores h3 {
    display: none;
  }
  section.features .feature {
    margin: 25px 0;
  }
  section.features .feature p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  section.watch button.carousel-control-next,
  section.watch button.carousel-control-prev {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  footer {
    text-align: center;
  }
  footer p {
    max-width: 90%;
    margin-right: 5%;
  }
  footer .hrorzantal::before {
    display: none;
  }
}
